body {
  background: none;
  min-height: 2000px;
  padding-top: 0px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #fff;
}
.full {
  background: url(../images/dark-texture.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.box {
  border-radius: 25px;
  border-style: solid;
  border-color: #404040;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
